In [ ]:
import os
os.getcwd()

In [ ]:
arr2 =[[1,2,3],
      [4,5,6],
      [7,8,9]]

In [ ]:
arr2[0]

In [ ]:
arr2[1]

In [ ]:
arr2[2]

In [ ]:
arr2[:2,1:]

In [ ]:
arr2

In [ ]:
arr2.T[2]

In [ ]:
arrs[:,2]

In [ ]:
arr2[:,2]

In [ ]:
import numpy as np

In [ ]:
arr2=np.zeros((10,10))
arr2

In [ ]:
arr2 = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])

In [ ]:
arr2

In [ ]:
arr2[1]

In [ ]:
arr2[2,:]

In [ ]:

for i in range(len(arr2)):
    if i%2 == 0: 
        print(arr2[i])

In [ ]:
len(arr2)

In [ ]:
arr2[[0,2,4,6,8]]

In [ ]:
arr2[range(0,10,2)]

In [ ]:
arr2[range(0,len(arr2),2)]

In [ ]:
[ele for sub in arr2 for row in sub for ele in row]

In [ ]:
arr = arr2[arr2%2==0]
arr

In [ ]:
arr = arr2[arr2 >= 5]
arr

In [ ]:
arr = arr2[arr2 % 2 != 0]
arr

In [ ]:
matrix = []
for i in range(5):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print(matrix)

In [ ]:


matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
even=[]
for row in matrix:
    for ele in row:
        if ele%2==0:
            even.append(ele)
print(even)

In [ ]:
matrix1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
matrix1[matrix1 % 2 == 0]

In [ ]:
odd =[ele for row in matrix for ele in row if ele%2 != 0]
odd

In [ ]:
flatten =[]
for sub in matrix:
    for ele in sub:
        flatten.append(ele)
print(flatten)

In [ ]:
test_list = [[5, 6], 6, [7], 8, 10]

res = any(isinstance(sub, list) for sub in test_list)
res

In [ ]:
any(isinstance(ele, int) for submatrix in matrix for row in submatrix for ele in row)

if isinstance(list1,list)"
te,"

In [ ]:
from functools import reduce
matrix2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

res = reduce(lambda x,y: x+y, matrix2)
res

In [ ]:
str1 = "adbdf343klj#df03 sdlfjsdk3k3 sjfksdj34"
digits=[]
alpha =[]
space =[]
special = []
count = 0
for ch in str1:
    if ch.isdigit():
        digits.append(ch)
        len(digits)
        print(digits)
   
print(digits)
print(alpha)
print(space)

In [ ]:
num =342340
count = 0
while num>0:
    rem = num % 10
    count += 1
print(count)

In [ ]:
num ='342340'
len(num)

In [ ]:
import os
os.getcwd()

In [ ]:
num =342340
count = 0
while num ! = 0:
    num //= 10
    count += 1
print(count)

In [ ]:
from pathlib import Path

In [ ]:
os.getcwd()

In [ ]:
import os
import subprocess
os.listdir("H:/adf/sales.txt")

In [ ]:
subprocess.run("pwd")

In [ ]:
subprocess.run(['ls'])

In [ ]:
!pwd

In [ ]:
!ls /H:/adf

In [ ]:
!dir H:\adf

In [ ]:
!ls -lrt H:\adf

In [ ]:
import subprocess

directory = 'H:\\adf'
subprocess(['dir', directory], shell=True)

In [ ]:
os.listdir(directory)

In [ ]:
!dir directory

In [ ]:
subprocess.run(['ls', directory])

In [ ]:
import subprocess

# Define the directory
directory = 'H:\\adf'

# List files in the directory using dir command
subprocess.run(['dir', directory], shell=True)

In [ ]:
# Use the dir command to list files in the directory
!dir H:\adf

In [ ]:
from pathlib import Path
file = Path("H:\\adf\\sales.txt")
print(file.stat().st_size)

In [ ]:
file_path = "H:\\adf\\sales.txt"
os.path.getsize(file_path)/ (1024 **3)

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c']

for x,y in zip(list_1, list_2):
    print(x,y)

In [ ]:
from itertools import zip_longest
for i,j in zip_longest(list_1, list_2):
    print(i,j)

In [ ]:
from pathlib import Path
file = Path(file_path)
file.stat().st_size

In [ ]:
file_path = Path("sales.txt").parent.absolute()
file_path

In [ ]:
Path().absolute()

In [ ]:
os.path.dirname(os.path.abspath("sales.txt"))

In [ ]:
os.path.abspath(os.getcwd())

In [ ]:
import os, time
from pathlib import Path

os.path.abspath("medical_cost")

In [ ]:
os.chdir('H:/python/jupyter')

In [ ]:
os.getcwd()

In [ ]:
from pathlib import Path
path = Path("H:/python/jupyter/new.txt")

In [ ]:
path

In [ ]:
if path.exists():
    print(yes)

In [ ]:
if path.is_file():
    print("yes file is there")

In [ ]:
dir = Path("H:/python/jupyter/new")

In [ ]:
dir.mkdir(parents = True, exist_ok = True)

In [ ]:
import datetime
import pathlib

fname = pathlib.Path("H:/python/jupyter/new.txt")
print("Last modification time: %s" % datetime.datetime.fromtimestamp(fname.stat().st_mtime))
print("Last metadata change time or path creation time: %s" % datetime.datetime.fromtimestamp(fname.stat().st_ctime))

In [ ]:
l1 = [1, 2, 3]
l2 = ['python', 'c', 'c++']
d = {k:v for k in l1 for v in l2}
d

In [ ]:
d1 = {}
for k in l1:
    for v in l2:
        d1[k] = k[v]
print(d1)

In [ ]:
tup = tuple(zip(l1,l2))
print(tup)

In [ ]:
d = dict(zip(l1,l2))
print(d)

In [ ]:
d1 = {k: v for k,v in zip(l1,l2)}
d1

In [1]:
print("hello")

hello

In [2]:
l1 = [1,2,2,3,4,5,5,6,6,7,7,9]

for ele in l1:
    if l1.count(ele)>1:
        l1.remove(ele)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 9]

In [8]:
l1 = [1,2,2,3,4,5,5,6,6,7,7,9]
counts = {}
l2=[]

for ele in l1:
    if ele in counts:
        counts[ele] += 1
    else:
        counts[ele] = 1

print(counts)

for k,v in counts.items():
    if v==1:
        l2.append(k)
print(l2)

{1: 1, 2: 2, 3: 1, 4: 1, 5: 2, 6: 2, 7: 2, 9: 1}
[1, 3, 4, 9]

In [9]:
l2 =[]
for ele in l1:
    if ele not in l2:
        l2.append(ele)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 9]

In [10]:
def fac(n):
    if n==0: return 1
    else: return n* fac(n-1)
    
fac(5)

120

In [11]:
def fact(n):
    if n<0: return "no factorial for negetive number"
    elfi n==1: return 1
    for i in range(n+1):
            factorial = factorial *i
    return factorial
fact(5)

0

In [2]:
l1 = [1,2,2,3,4,5,5,6,6,7,7,9]

l2=[]
for ele in l1:
    if l1.count(ele)>1:
        l2.append(ele)
print(set(l2))

{2, 5, 6, 7}

In [4]:
counts = dict()

for ele in l1:
    if ele in counts:
        counts[ele] += 1
    else:
        counts[ele] = 1
print(counts)

l3=[]
for k,v in counts.items():
    if v>1:
        l3.append(k)
print(l3)

{1: 1, 2: 2, 3: 1, 4: 1, 5: 2, 6: 2, 7: 2, 9: 1}
[2, 5, 6, 7]

In [5]:
"a3b2c4'---> aaabbcccc

str1 = "a3b2c4'

SyntaxError: unterminated string literal (detected at line 1) (56367112.py, line 1)

In [17]:
l1 = [['ram',80],['viru',85],['basanti',95], ['thakur',83],['samba',85]]
d = dict(l1)
print(d)

marks = set(d.values())
l2 = sorted(marks, reverse = True)
print(l2)


largest = l2[0]
second_largest = l2[0]

for i in range(len(l2)):
    if l2[i]> largest:
        largest = l2[i]
for i in range (1,len(l2)-1):
    if l2[i]> second_largest and l2[i] != largest:
        second_largest = l2[i]
l3= [largest, second_largest]
print(l3)

{'ram': 80, 'viru': 85, 'basanti': 95, 'thakur': 83, 'samba': 85}
[95, 85, 83, 80]
[95, 95]

In [25]:
str1= 'aire43kjf23d'
def rev(str1):
    output = ''
    for ch in str1:
        output =  ch + output
    return output

print(rev(str1))

d32fjk34eria

In [26]:
output =''
alphas = [ch for ch in reversed(str1) if ch.isalpha()]
alphas

['d', 'f', 'j', 'k', 'e', 'r', 'i', 'a']

In [30]:
alphas = [ch for ch in reversed(str1) if ch.isalpha()]
output=''
for ch in str1:
    if ch.isalpha():
        output =  output + alphas[i]
        i += 1
    else:
        output = output + ch
print(output)

IndexError: list index out of range

In [46]:
def solution(l1,target):
    l2=[]
   
    for i in range (len(l1)):
        for j in range (i+1,len(l1)):
            if l1[i] + l1[j] == target:
                l2.append((i,j))
                
    return l2

l1= [2, 7, 11, 15, -2, 6, 3, 6]
target=9 
indexes= solution(l1,target)
print(indexes)

[(0, 1), (2, 4), (5, 6), (6, 7)]

In [45]:

def find_indexes_with_sum(arr, target):
    # List to store the result
    result = []
    
    # Iterate through each pair of indices
    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            if arr[i] + arr[j] == target:
                result.append((i, j))
    
    return result

# Example usage
arr = l1= [2, 7, 11, 15, -2, 6, 3, 6]
target = 9
indexes = find_indexes_with_sum(arr, target)
print("Indexes with sum equal to 9:", indexes)

Indexes with sum equal to 9: [(0, 1), (2, 4), (5, 6), (6, 7)]

In [65]:
    
def isspecialchar(ch): 
    return not ch.isalnum() and not ch.isspace()


str1 = "B7A1R3 hello!" 


dig = ''
alpha = ''
special = ''
for ch in str1:
    if ch.isalpha():
        alpha = alpha + ch
    elif ch.isspace():
        alpha = alpha + ' '
    elif ch.isspecialchar(ch):
        special = special + ch
    else:
        dig = dig + ch

print(alpha)
print(dig)
print(special)

AttributeError: 'str' object has no attribute 'isspecialchar'

In [49]:
str1 = "Hello, World!"
alpha = ''
for ch in str1:
    if ch.isalpha():
        alpha = alpha + ch
    else:
        alpha = alpha + ' '

print(alpha)

Hello  World

In [68]:
def isspecialchar(ch): 
    return not ch.isalnum() and not ch.isspace()

str1 = "B7A1R3@"

dig = ''
alpha = ''
special = ''

for ch in str1:
    if ch.isalpha():
        alpha = alpha + ch
    elif ch.isspace():
        alpha = alpha + ' '
    elif isspecialchar(ch):  # Call the custom function directly
        special = special + ch
    else:
        dig = dig + ch

print("Alphabets and spaces:", alpha)
print("Digits:", dig)
print("Special characters:", special)

x = ''.join(sorted(alpha)) + ''.join(sorted(dig))
print(x)

Alphabets and spaces: BAR
Digits: 713
Special characters: @
ABR137

In [71]:
str1 = "B7A1R3"
#ABR137

alpha = ''.join(sorted([ch for ch in str1 if ch.isalpha()]))
print(alpha)

ABR

In [4]:
def hcf(x,y):
    if x>y:
        smaller=y
    else:
        smaller = x
    
    hcf=1
    for i in range(1,smaller +1):
        if ((x%i==0) and (y%i==0)):
            hcf = i 
    return hcf

val = hcf(12,14)
print(val)

2

In [5]:
import re
sent = "Hello, World! Welcome to the year 2024."
pattern = re.compile('[^a-zA-Z0-9\s]')
print(pattern)

re.compile('[^a-zA-Z0-9\\s]')

In [6]:
cleaned_txt = pattern.sub('', sent)
print(cleaned_txt)

Hello World Welcome to the year 2024

In [7]:
p = re.compile('[a-z]+')
p

re.compile(r'[a-z]+', re.UNICODE)

In [9]:
def has_sum_zero(l):
    res=[]
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[i] + l[j] ==0:
                res.append((l[i], l[j]))
        
    return res



nums = [1, 2, 3, 4, -1, -2, -3, -4]
print(has_sum_zero(nums))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [12]:
def has_sum_zero(l):
    res = []
    seen = set()
    
    for num in l:
        if -num in seen:
            res.append((num, -num))
        seen.add(num)
    
    return res

nums = [1, 2, 3, 4, -1, -2, -3, -4]
print(has_sum_zero(nums))  # Output: [(1, -1), (2, -2), (3, -3), (4, -4)]
print(seen)

[(-1, 1), (-2, 2), (-3, 3), (-4, 4)]

NameError: name 'seen' is not defined

In [13]:
def anagram(s1,s2):
    if sorted(s1) == sorted(s2):
        return 'yes'
    return 'no'

s1 = "abc"
s2 = "bca"

ana = anagram(s1,s2)
print(ana)

yes

In [15]:
def freq(s1):
    d={}
    for ch in s1:
        if ch in d:
            d[ch] +=1
        else:
            d[ch] = 1
    return d


s1 = "abcdaab"
f = freq(s1)
print(f)

{'a': 3, 'b': 2, 'c': 1, 'd': 1}

In [16]:
l1=[1,2,[7,9,[15,[12,9]],18,10]]
print(l1)

[1, 2, [7, 9, [15, [12, 9]], 18, 10]]

In [41]:
l1 = [[1,2],[3,4],[2,3],[5,1],[7,1,2]]
flatten = []
for ele in l1:
    if type(ele) is list:
        flatten.extend(flatten(ele)
print(flatten)

[[1, 2], [3, 4], [2, 3], [5, 1], [7, 1, 2]]

In [43]:
def flatten(l1):
    l2=[]
    for sub in l1:
        if (type(sub) is list):
            l2.extend(flatten(sub))
        
        else:
            l2.append(sub)
    return l2
#l1=[1,2,[7,9,[15,[12,9]],18,10]]
l1 = [[1,2],[3,4],[2,3],[5,1],[7,1,2]]
res = flatten(l1)
print(res)

[1, 2, 3, 4, 2, 3, 5, 1, 7, 1, 2]

In [24]:
str1 = 'bbbbcccdda'
d={}
for ch in str1: 
    if ch in d: 
        d[ch] += 1
    else: 
        d[ch] = 1
print(d)

l=[]
for k in d:
    l.append(d[k])
print(l)

{'b': 4, 'c': 3, 'd': 2, 'a': 1}
[4, 3, 2, 1]

SyntaxError: incomplete input (3942959620.py, line 1)

In [29]:
def counter(str1):
    count = 1
    l=[]
    for i in range(1, len(str1)):
        if(str1[i] == str1[i-1]):
            count += 1
        else:
            l.append(count)
            count = 1
    l.append(count)
    return l


str1 = 'bbbbcccdda'
x = counter(str1)
print(x)

[4, 3, 2, 1]

In [30]:
set1 =set(str1)
print(set1)

{'b', 'c', 'd', 'a'}

In [33]:
str1 = "sagar prajapati"
str2 = "geekcoders"

res = [ set(str1) & set(str2)]

print(res)

[{'g', 'r', 's'}]

In [37]:
def common_letter(str1,str2):
    l=[]
    for i in range(len(str1)):
        if str1[i] in str2:
            l.append(str1[i])
            
    return l

x = common_letter(str1,str2)
y = ''.join(sorted(set(x)))
print(y)

grs

In [40]:
def common_letter1(str1,str2):
    return set(str1).intersection(set(str2))

x1 = common_letter1(str1,str2)
#y1 = ''.join(sorted(set(x1)))
print(x1)

{'g', 'r', 's'}

In [44]:
os.getcwd()

NameError: name 'os' is not defined

In [45]:
map = {'a': 150, 'b': 75, 'c': 200, 'd':50,'e':300}
map

{'a': 150, 'b': 75, 'c': 200, 'd': 50, 'e': 300}

In [49]:
d1 = {k for k,v in map.items() if map[k]>100}
print(d1)

{'e', 'c', 'a'}

In [51]:
str1 = 'geekcoders geekcoders hellpo'

res1 = ''.join(set(str1))
print(res1)

kdhps erlgco

In [64]:
def remove_dup(str1):
    unique =[]
    dup = []
    for i in range(len(str1)):
        for j in range(i+1,len(str1)):
            if str1[i]==str1[j]:
                dup.append(str1[i])
            else:
                unique.append(str1[i])
    return unique
               
    
                
   


str1 = 'geekcoders geekcoders hellpo'
out = remove_dup(str1)
out1 = ''.join(out)
print(out1)

ggggggggggggggggggggggggggeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeekkkkkkkkkkkkkkkkkkkkkkkccccccccccccccccccccccooooooooooooooooooooddddddddddddddddddddeeeeeeeeeeeeeeeerrrrrrrrrrrrrrrrrrsssssssssssssssss                ggggggggggggggggeeeeeeeeeeeeeeeeeeeeeeeekkkkkkkkkkkkkccccccccccccooooooooooddddddddddeeeeeeeerrrrrrrrsssssss      hhhhheeeellllp

In [54]:
def remove_char(str1, char1):
    return str1.replace(char1,'')

In [66]:
str1 =str1.split()
print(str1)

['geekcoders', 'geekcoders', 'hellpo']

In [67]:

d= {}
for ch in str1:
    if ch in d:
        d[ch] += 1
    else:
        d[ch] = 1
print(d)

{'geekcoders': 2, 'hellpo': 1}

In [76]:
from collections import OrderedDict
x = OrderedDict.fromkeys(str1)
print(x)
y = ''.join(x)
print(y)

OrderedDict([('g', None), ('e', None), ('k', None), ('c', None), ('o', None), ('d', None), ('r', None), ('s', None), (' ', None), ('h', None), ('l', None), ('p', None)])
gekcodrs hlp

In [75]:
from collections import OrderedDict

def unique_characters_ordered_dict(str1):
    return ''.join(OrderedDict.fromkeys(str1))

str1 = 'geekcoders geekcoders hellpo'
print(unique_characters_ordered_dict(str1))  # Output: 'gekodrs hlp'

gekcodrs hlp

In [78]:
seen = set()
res = ''.join([ch for ch in str1 if not(ch in seen or seen.add(ch))])
print(res)

gekcodrs hlp

In [79]:
r = ''.join([ch for i, ch in enumerate(str1) if ch not in str1[:i]])
print(r)

gekcodrs hlp

In [82]:
l1 = [1,2,3,['Sam','Ravi'],45,[432,'Jailer'],43,'Sam']

for ele in l1:
    if (type(ele) == list):
        print(ele)

['Sam', 'Ravi']
[432, 'Jailer']

In [ ]:
s = "hello"

res = ""
for ch in s:
    res = res+ch*3
print(res)

In [5]:
sent = 'this is geekcoders'
def rev(sent):
    words = sent.split()
    res =[]
    while (len(words))>0:
        word = words.pop()
        res.append(word)
    return ''.join(res)

print(rev(sent))

geekcodersisthis

In [7]:
arr = [1,2,2,2,3,1,2]
from collections import OrderedDict

res = OrderedDict.fromkeys(arr)
print(res)

OrderedDict([(1, None), (2, None), (3, None)])

In [9]:
l = [1, 2, 3, 4, -1, -2, -3, -4]
min = l[0]

for ele in l:
    if ele<min:
        min = ele
print(min)

-4

In [16]:
x = sorted(l)
print(x)

[-4, -3, -2, -1, 1, 2, 3, 4]

In [17]:


def check_sort(l):
    k=0
    for i in range(len(l)-1):
        if(l[i]<=l[i+1]):
            pass
        else:
            k = 1
            break
    return k ==0

print(check_sort([1,3,2,4,5]))

False

In [18]:
l = [1, 2, 3, 4, -1, -2, -3, -4]

def counter(l):
    freq={}
    for ele in l:
        freq[ele] = freq.get(ele,0)+1
        print(ele, freq[ele])
    return freq

print(counter(l))

1 1
2 1
3 1
4 1
-1 1
-2 1
-3 1
-4 1
{1: 1, 2: 1, 3: 1, 4: 1, -1: 1, -2: 1, -3: 1, -4: 1}

In [22]:
#convert each word first and last char of any word in to uppper in sent
str1 = "Hello Geeks this is what I am trying to tell you"
#out = "HellO GeekS"
words = str1.split()
print(words)

def first_last_upper(word):
    return word[0].upper() + word[1:-2] + word[-1].upper()

res = [first_last_upper(word) for word in str1.split()]
print(res)

['Hello', 'Geeks', 'this', 'is', 'what', 'I', 'am', 'trying', 'to', 'tell', 'you']
['HelO', 'GeeS', 'ThS', 'IS', 'WhT', 'II', 'AM', 'TryiG', 'TO', 'TeL', 'YU']

YU

In [24]:
l = ["30 student", "5 student", "7 student"]
res = [int(ele.split()[0]) for ele in l]
print(res)

[30, 5, 7]

In [33]:

str1 = "geeks for geeks"
seen = set()
for ch in str1:
    if ch in seen:
        seen.add(ch)
print(seen)

set()

In [37]:
str1 = "geeks for geeks"
seen=set()
res = ''.join([ch for ch in str1 if not (ch in seen or seen.add(ch))])
print(res)

geks for

In [38]:
def remove_duplicates_list_comprehension(s):
    seen = set()
    return ''.join([char for char in s if not (char in seen or seen.add(char))])

# Example usage
str1 = 'geekcoders geekcoders hellpo'
print(remove_duplicates_list_comprehension(str1))  # Output: 'gekodrs hlp'

gekcodrs hlp

In [46]:
str1 = 'my23name45is'
str1_l = list(str1)

print(str1_l)
res =[]
for ch in str1_l:
    last1 = str1_l.pop()
    res.append(last1)
print(res)

['m', 'y', '2', '3', 'n', 'a', 'm', 'e', '4', '5', 'i', 's']
['s', 'i', '5', '4', 'e', 'm']

In [40]:
original = "Hello World"
index = 5
substring = ", Beautiful"

new_string = original[:index] + substring + original[index:]
print(new_string)  # Output: "Hello, Beautiful World"

Hello, Beautiful World

In [48]:
res =[]
for i in range(len(str1)-1, -1, -1):
    res.append(str1[i])
print(res)
y = ''.join(res)
print(y)

['s', 'i', '5', '4', 'e', 'm', 'a', 'n', '3', '2', 'y', 'm']
si54eman32ym

In [51]:
def rev1(str1):
    return str1[::-1]

str1 = 'my23name45is'
print(rev1(str1))

si54eman32ym

In [52]:
res2 = ''.join(reversed(str1))
print(res2)

si54eman32ym

In [53]:

output = ""
for ch in str1:
    output = ch + output
print(output)

si54eman32ym

In [54]:
l1 = list(str1)
print(l1)

['m', 'y', '2', '3', 'n', 'a', 'm', 'e', '4', '5', 'i', 's']

In [63]:
l1 = list(str1)
rev_lis = l1.reverse()
x = ''.join(rev_lis)
print(x)

TypeError: can only join an iterable

In [59]:
from functools import reduce

rev = reduce(lambda x,y: y+x, str1)
print(rev)

si54eman32ym

In [60]:
def rec(str1):
    if len(str1) == 0:
        return str1
    else:
        return str1[-1] + rec(str1[:-1])

res = rec(str1)
print(res)

si54eman32ym

In [62]:
s = "Hello World"
char_list = list(s)

reversed_s = ''.join(char_list.reverse())
print(reversed_s)  # Output: "dlroW olleH"

TypeError: can only join an iterable

In [69]:
str1 = 'my23name45is'
output = ''
alphas = [ch for ch in reversed(str1) if ch.isalpha()]
print(alphas)

i=0
for ch in str1:
    if ch.isalpha():
        output = output + alphas[i]
        i += 1
    else:
        output = output + ch
print(output)

['s', 'i', 'e', 'm', 'a', 'n', 'y', 'm']
si23eman45ym

In [74]:
def fib(n):
    if n==1: return 0
    elif n==2: return 1
    else: return fib(n-2)+fib(n-1)

    
x = fib(10)
print(x)

34

In [75]:
for i in range(1, 11):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [1]:
import os
os.getcwd()

'C:\\Users\\lpdda'

In [3]:
l=[1,1,2,2,3,4,5,6,6]
def remove_dup(l):
    uniq = []
    dup = []
    for i in range(len(l)):
        for j in range(i+1, len(l)):
            if (l[i] == l[j]):
                dup.append(l[j])
            else:
                uniq.append(l[j])
    return uniq

x = remove_dup(l)
print(x)

[2, 2, 3, 4, 5, 6, 6, 2, 2, 3, 4, 5, 6, 6, 3, 4, 5, 6, 6, 3, 4, 5, 6, 6, 4, 5, 6, 6, 5, 6, 6, 6, 6]

In [16]:
def remove_dup(l):
    uniq = []
    dup = []
    for i in range(len(l)-1):
        if (l[i] == l[i+1]):
                dup.append(l[i])
        else:
                uniq.append(l[i])
    return uniq

x = remove_dup(l)
print(x)

[1, 2, 3, 4, 5]

In [11]:
def remove(l):
    uniq=[]
    s = set()
    for item in l:
        if item not in s:
            uniq.append(item)
            s.add(item)
    return uniq
x = remove(l)
print(x)

[1, 2, 3, 4, 5, 6]

In [17]:
def remove1(l):
    if not l:
        return []
    
    uniq=[]
    dup = set()
    for i in range(len(l)):
        if l[i] in dup:
            continue
        elif i < len(l) - 1 and l[i] = l[i+1]:
            dup.add(l[i])
        else:
            uniq.append(l[i])

SyntaxError: invalid syntax (2079782148.py, line 10)

In [21]:
str1 = '200'
str1_l = str1.split('0')
print(''.join(str1_l))

2

In [26]:

def palin(num):
    str1= str(num)
    for i in range(len(str1)):
        if(str1[i] == str1[len(str1)-i-1]):
            return 'num is palindrome'
        else:
            return 'no palin'

num =122
x = palin(num)
print(x)

no palin

In [5]:

str1 = 'aaaabbbccd'
previous =str1[0]
count = 0
output = ""
for ch in str1:
    if ch == previous:
        count += 1
        
    else:
        output = output + str(count) + previous
        count = 1
        previous = ch
print(output)

4a3b2c

In [6]:
str1 = '4a3b2cd'

In [12]:
str1 = '4a3b2cd'
#'aaaabbbcc'
output =""
num =""

for ch in str1:
    if ch.isdigit():
        num = num + ch
    else:
        if num:
            output = output + ch * int(num)
            num=""
        else:
            output = output + ch
print(output)

aaaabbbccd

In [19]:
#remove duplicates from list

def rem_dup1(l):
    res =[]
    for num in l:
        if num not in res:
            res.append(num)
    return res


l = [1,1,1,2,2,3,4,5,6,7,5,9,9,1]
x = rem_dup1(l)
print(x)

[1, 2, 3, 4, 5, 6, 7, 9]

In [21]:

def rem_dup1(l):
    set1 =set()
    for num in l:
        if num not in set1:
            set1.add(num)
    return set1


l = [1,1,1,2,2,3,4,5,6,7,5,9,9,1]
x = rem_dup1(l)
print(x)

{1, 2, 3, 4, 5, 6, 7, 9}

In [23]:
def rem_dup2(l):
    uniq=[]
    dup =[]
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[i] == l[j]:
                dup.append[l[i]]
            else:
                uniq.append(l[i])
    return uniq
   
   


l = [1,1,1,2,2,3,4,5,6,7,5,9,9,1]
x = rem_dup2(l)
print(x)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [2]:
i ='bbbbaaaccd'
#o=[4,3,2,1]

def count_str(str1:str)->list:
    count = 1
    l = []
    for i in range(1,len(str1)):
        if (str1[i]== str1[i-1]):
            count +=1
        else:
            l.append(count)
            count = 1
    l.append(count)
    return l

print(count_str(i))

[4, 3, 2, 1]

In [7]:
def prime1(lower, upper):
    primes=[]
    for num in range(lower, upper+1):
        if num>1:
            is_prime = True
            for i in range(2, int(num ** 0.5)+1):
                if num%i==0:
                    is_prime = False
                    break
            if is_prime:
                primes.append(num)
    return primes

x = prime1(100, 200)
print(x)

[101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [8]:
for num in range(100, 200):
    if all(num%i!=0 for i in range(2, num)):
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [14]:
for num in range(100, 200):
    is_prime = True
    for i in range(2, num):
        if (num%i==0):
            is_prime = False
            break
    if is_prime:
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [15]:

l=[3,4,100, 8,23,0,22,7]

for i in range(len(l)):
    for j in range(i+1, len(l)):
        if l[j]< l[i]:
            temp = l[i]
            l[i] = l[j]
            l[j] = temp
            
print(l)

[0, 3, 4, 7, 8, 22, 23, 100]

In [26]:
l=[3,4,100, 8,23,0,22,7]
l1=[]

for i in range(len(l)):
    
    min1 = min(l)
    l1.append(min1)
    l.remove(min1)
print(l1)

[0, 3, 4, 7, 8, 22, 23, 100]

[4, 8, 0, 7]

[3, 4, 100, 8, 23, 0, 7]

[3, 4, 100, 8, 23, 22, 7]

In [1]:
str1 = 'my23name45is'

res = reversed(str1)
print(res)

<reversed object at 0x000002735A46CCD0>

In [3]:
res = [ch for ch in reversed(str1) if ch.isalpha() ]
print(res)

['s', 'i', 'e', 'm', 'a', 'n', 'y', 'm']

In [7]:
output = ''
str1 = 'my23name45is'
res = [ch for ch in reversed(str1) if ch.isalpha() ]
print(res)


i = 0
for ch in str1:
    if ch.isalpha():
        output = output + res[i]
        i +=1
    else:
        output = output + ch
print(output)

['s', 'i', 'e', 'm', 'a', 'n', 'y', 'm']
si23eman45ym

In [39]:
str1 = 'aaaabbbccd'

previous = str1[0]
count = 0
output = ''
for ch in str1:
    if ch == previous:
        count = count + 1
         
    else:
        output = output +  str(count) + previous
        count = 1
        previous = ch
print(output)

4a3b2c

In [38]:
str1 = 'aaaabbbccd'

previous = str1[0]
count = 0
output = ""

for ch in str1:
    if ch == previous:
        count += 1
    else:
        output += str(count) + previous
        count = 1
    previous = ch

# Add the last sequence to the output
output += str(count) + previous

print(output)

4a3b2c1d

In [8]:
str1 = 'aaaabbbccd'

d ={}
for ch in str1:
    if ch in d:
        d[ch] += 1
    else:
        d[ch] = 1
print(d)

{'a': 4, 'b': 3, 'c': 2, 'd': 1}

In [19]:
res1 =[]
for k in d:
    res1.append(k)
    
print(res1)

['a', 'b', 'c', 'd']

In [22]:
res2 = []
for v in d.values():
    res2.append(str(v))
print(res2)

['4', '3', '2', '1']

In [27]:
output = []
for x, y in zip(res1, res2):
    output.append(y+x)
print(''.join(output))

4a3b2c1d

In [29]:
str1 = 'aaaabbbccd'
count_a = 0
count_b = 0
count_c = 0
count_d = 0
for ch in str1:
    if ch == 'a':
        count_a += 1
    elif ch == 'b':
        count_b += 1
    elif ch == 'c':
        count_c += 1
    elif ch == 'd':
        count_d += 1
print(f"count of a : ",count_a)
print(f"count of a : ",count_b)
print(f"count of a : ",count_c)
print(f"count of a : ",count_d)

count of a :  4
count of a :  3
count of a :  2
count of a :  1

In [3]:
str1 = "geekcoders geekcoders hello"

uniq=[]

for word in str1.split():
    if word not in uniq:
        uniq.append(word)
print(' '.join(uniq))

geekcoders hello

In [4]:

d ={}
for ch in str1.split():
    if ch in d:
        d[ch] += 1
    else:
        d[ch] = 1
print(d)

{'geekcoders': 2, 'hello': 1}

In [9]:

for k in d:
    print(k)

geekcoders
hello

In [13]:
my_map = {
    'a':150,
    
    'b':75,
    'c':200,
    'd':50,
    'e':300
}

for k,v in my_map.items():
    if v>100:
        print(tuple(k,v))

TypeError: tuple expected at most 1 argument, got 2

In [1]:
[k for k,v in my_map.items() if v>100]

NameError: name 'my_map' is not defined

In [10]:
l1 = [1,2,3,4,5,6,7,10,12,14,17,19,20]
res = []
for i in range(1,len(l1)):
    if l1[i]%2!=0 and l1[i-1]%2==0:
        res.append(l1[i-1])
print(res)

[2, 4, 6, 14]

In [11]:
str1 =

SyntaxError: invalid syntax (2708775493.py, line 1)

In [16]:
str1 = "python"
ch = "o"
str2 = str1.replace(ch, " ")
print(str2)

pyth n

In [18]:
str1 = "madama"

if (str1 == str1[::-1]):
    print("pali")
else: 
    print("no pali")

no pali

In [19]:
str1 = "sarisha"
res = ""
for ch in str1:
    res = ch + res
print(res)

ahsiras

In [22]:
output = ""
for i in range(len(str1)-1,-1,-1):
    output = output + str1[i]
print(output)

ahsiras

In [33]:
str1 = "Geeks for Geeks"
str2 = "Learning from Geeks for Geeks"
str1 = str1.split()
str2 = str2.split()
res = []

for i in str1:
    if i not in str2:
        res.append(i)
for j in str2:
    if j not in str1:
        res.append(j)
x = list(set(res))

print(x)

['from', 'Learning']

In [30]:
 count = {}
 str1 = "Geeks for Geeks"
    # insert words of string A to hash
for word in str1.split():
    count[word] = count.get(word, 0) + 1
print(count)

{'Geeks': 2, 'for': 1}

In [38]:

A = "Geeks for Geeks"
B = "Learning from Geeks for Geeks"
count = {}
 
# insert words of string A to hash
for word in A.split():
    count[word] = count.get(word, 0) + 1

# insert words of string B to hash
for word in B.split():
    count[word] = count.get(word, 0) + 1
print(count)

{'Geeks': 4, 'for': 2, 'Learning': 1, 'from': 1}

In [49]:
str1 = 'khokho'

def symmetry(str1):
    mid = (len(str1))//2
    start1 = 0
    start2 = mid 
    last = len(str1)
    flag = 0
    
    while start1<mid and start2<last:
        if str1[start1] == str1[start2]:
            start1 = start1 + 1
            start2 = start2 + 1
        else:
            flag = 1
            break 
    if flag == 0:
        return "symmetry"
    else:
        return "no no symmerty"
            
        

print(symmetry(str1))

symmetry

In [47]:
str1 = 'khokho'

def symmetry(str1):
    mid = len(str1) // 2
    start1 = 0
    start2 = mid
    
#     if len(str1) % 2 != 0:
#         start2 += 1
    
    flag = 0

    while start1 < mid and start2 < len(str1):
        if str1[start1] == str1[start2]:
            start1 += 1
            start2 += 1
        else:
            flag = 1
            break 

    if flag == 0:
        return "symmetry"
    else:
        return "no symmetry"
            
print(symmetry(str1))

symmetry

In [53]:
test_str = "geeks4feeks is No. 1 4 geeks"

x = sum(map(str.isdigit, test_str))

print(x)

3

In [55]:
list(filter(lambda x: x.isdigit(), test_str))

['4', '1', '4']

In [69]:
sr1 = "hello"

list(map(ord, sr1))
list(map(str.upper, sr1))

['H', 'E', 'L', 'L', 'O']

In [64]:
str1 = ["hello", "world", "python"]

list(map(str.upper, str1))
list(map(str.lower, str1))
list(map(str.casefold, str1))

['hello', 'world', 'python']

In [71]:
suffix = "lpd"
list(map(lambda s: s+ suffix, str1))

['hellolpd', 'worldlpd', 'pythonlpd']

In [72]:
list1 = [1, 2, 3, 4, 5]

list(map(lambda x: x**2, list1))

[1, 4, 9, 16, 25]

In [73]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list(map(lambda x,y: x+y, list1, list2))

[5, 7, 9]

In [74]:
numbers = [-1, -2, -3, 4, 5]

list(map(abs, numbers))

[1, 2, 3, 4, 5]

In [75]:
floats = [1.2, 2.5, 3.7, 4.4]
list(map(int, floats))

[1, 2, 3, 4]

In [76]:
list(map(lambda x,y: x*y, list1, list2))

[4, 10, 18]

In [79]:
l=[1,2,[7,9],[15,[12,9]],18,10]
print(l)

res = [ele for sub in l for ele in sub]
print(res)

[1, 2, [7, 9], [15, [12, 9]], 18, 10]

TypeError: 'int' object is not iterable

In [1]:
l = [1, 2, [7, 9], [15, [12, 9]], 18, 10]

def flatten(l):
    res=[]
    for item in l:
        if isinstance(item, list):
            res.extend(flatten(item))
        else:
            res.append(item)
    return res

final = flatten(l)
print(final)

[1, 2, 7, 9, 15, 12, 9, 18, 10]

In [2]:
l = [('David',46), ('Sam',56), ('Sagar',90)]

for item in l:
    print(item)

('David', 46)
('Sam', 56)
('Sagar', 90)

In [5]:
res =[marks for name, marks in l]
res

[46, 56, 90]

In [12]:
str1 = "bbbbcccaad"
# res = [4,3,2,1]
def count(str1):
    previous = str1[0]
    res =[]
    count = 0
    for ch in str1:
        if ch == previous:
            count = count + 1
            
            
        else:
            res.append(count)
            
            previous = ch
            count = 1
    res.append(count)
    return res

final = count(str1)
print(final)

[4, 3, 2, 1]

In [17]:
def stringCount(str1):
    count = 1
    res =[]
    for i in range(1, len(str1)):
        if str1[i]==str1[i-1]:
            count = count + 1
        else:
            res.append(count)
            count = 1
    res.append(count)
    return res

fin = stringCount(str1)
print(fin)

[4, 3, 2, 1]

In [19]:
from ordered_set import OrderedSet

ModuleNotFoundError: No module named 'ordered_set'

In [20]:
help(ordered_set)

NameError: name 'ordered_set' is not defined

In [26]:
def common_str(str1, str2):
    str11 = set(str1)
    str22 = set(str2)
    res = str11.intersection(str22)
    return res



str1 = 'sagar prajapati'
str2 = 'geekcoders'
print(common_str(str1,str2))

{'s', 'r', 'g'}

In [24]:
str1 = 'sagar prajapati'
str2 = 'geekcoders'

str11 = set(str1)
str22 = set(str2)

res = str11.intersection(str22)
print(res)

{'s', 'r', 'g'}

In [47]:
def common_str1(str1, str2):
    d ={}
    res =[]
    for ch in str1:
        if ch in d:
            d[ch] += 1
        else:
            d[ch] = 1
    for ch in str2:
        if ch in d:
            d[ch] += 1
        else:
            d[ch] = 1
    return d
  
    
  

str1 = 'sagar prajapati'
str2 = 'geekcoders'
dict1 =common_str1(str1,str2)
print(dict1)

for k,v in dict1.items():
    if v:
        if v>1:
            print(k,v)

{'s': 2, 'a': 5, 'g': 2, 'r': 3, ' ': 1, 'p': 2, 'j': 1, 't': 1, 'i': 1, 'e': 3, 'k': 1, 'c': 1, 'o': 1, 'd': 1}
s 2
a 5
g 2
r 3
p 2
e 3

In [48]:
# Define your function or logic to create dict1
def common_str1(str1, str2):
    # Sample logic to combine two strings and count occurrences
    combined_str = str1 + str2
    count_dict = {}
    for char in combined_str:
        if char in count_dict:
            count_dict[char] += 1
        else:
            count_dict[char] = 1
    return count_dict

# Example strings
str1 = "data"
str2 = "project"

# Create the dictionary
dict1 = common_str1(str1, str2)
print(dict1)

# Iterate over the dictionary items
for k, v in dict1.items():
    if v:
        if v > 1:
            print(f"{k}: {v} times")
        else:
            print(f"{k}: {v} time")

{'d': 1, 'a': 2, 't': 2, 'p': 1, 'r': 1, 'o': 1, 'j': 1, 'e': 1, 'c': 1}
d: 1 time
a: 2 times
t: 2 times
p: 1 time
r: 1 time
o: 1 time
j: 1 time
e: 1 time
c: 1 time

In [51]:
str1 = "data"
str2 = "project"

res = []
for ch in str1:
    if ch in str2:
        res.append(ch)

print(res)

['t']

In [52]:
l = [[1,2],[3,4],[2,3],[5,1],[7,1,2]]

def flatten(l):
    res=[]
    for item in l:
        if isinstance(item, list):
            res.extend(flatten(item))
        else:
            res.append(item)
    return res

out= flatten(l)
print(out)

[1, 2, 3, 4, 2, 3, 5, 1, 7, 1, 2]

In [55]:
l = [[1,2],[3,4],[2,3],[5,1],[7,1,2]]

def flatten1(l):
    res=[]
    for item in l:
        if (type(item) is list):
            res.extend(flatten(item))
        else:
            res.append(item)
    return res

out= flatten1(l)
print(out)

[1, 2, 3, 4, 2, 3, 5, 1, 7, 1, 2]

In [58]:

def flatten2(l):
    res=[]
    for sub in l:
        for item in sub:
            res.append(item)
    return res


out= flatten2(l)
print(out)

[1, 2, 3, 4, 2, 3, 5, 1, 7, 1, 2]

In [59]:
res = [item for sub in l for item in sub]
print(res)

[1, 2, 3, 4, 2, 3, 5, 1, 7, 1, 2]

In [60]:
def flatten3(l):
    d={}
    for sub in l:
        for item in sub:
            if (item in d):
                d[item] += 1
            else:
                d[item] = 1
    return d

out = flatten3(l)
print(out)

{1: 3, 2: 3, 3: 2, 4: 1, 5: 1, 7: 1}

In [63]:
from itertools import chain

res = list(chain.from_iterable(l))
res

[1, 2, 3, 4, 2, 3, 5, 1, 7, 1, 2]

In [69]:
l=['Sam200', 'Monu100', 'Zaid30', 'Mukesh50', 'Nisha99']
def sort(l):
    c=""
    res=[]
    for i in l:
        for j in i: 
            if (j.isdigit()):
                c = c+ j
        res.append(int(c),i)
        res.sort(key= lambda x: x[0])
    
    return res

out = sort(l)
print(out)

TypeError: list.append() takes exactly one argument (2 given)

In [70]:
def f_is_divisible(num):
    try:
        count= 0
        for i in str(num):
            if (num%int(i)==0):
                count += 1
        return count
    except ZeroDivisionError:
        return(len(str(num)))
    
res = f_is_divisible(120453)
print(res)

6

In [71]:
l=[5,2,3,2,3,4,9,1,5]
smallest = l[0]
second_smallest = l[1]

for i in range(len(l)-2):
    if l[i]<smallest:
        
        smallest = l[i]
        second_smallest = smallest
    elif l[i]<second_smallest and l[i]!=smallest:
        second_smallest=l[i]
print(second_smallest)

2

1

In [84]:
smallest = min(l)
d={}
for ele in l:
    if(ele!=smallest):
        d[ele] = ele - smallest
print(d)
min(d)

{5: 4, 2: 1, 3: 2, 4: 3, 9: 8}

2

In [88]:
str1 = "Hello this is GeekCoders"
len(list(filter(lambda ch: ch.islower(), str1)))

18

In [91]:
l=["30 student", "5 student", "7 student"]

[int(ele.split()[0]) for ele in l]

[30, 5, 7]

In [93]:
res = list(map(lambda ele: int(ele.split()[0]), l))
print(res)

[30, 5, 7]

In [95]:
str1= "Hello Geeks"

str1[0].upper() + str1[1:-1] + str1[-1].upper()

'Hello GeekS'

In [99]:
l= [1,1,1,1,2,2,3,3,3,3,3,3,3,5]
k=3

def counter(l,k):
    d={}
    set1=set()
    for ele in l: 
        d[ele] = d.get(ele, 0) + 1
        if d[ele]>k:
            set1.add(ele)
    return set1

res = counter(l,3)
print(res)

{1, 3}

In [106]:
str1 = "This is GeekCoders"


def rev1(str1):
    out = " "
    for word in str1.split():
        out = word + ' ' +  out 
    return out
print(rev1(str1))

GeekCoders is This

In [111]:
str1 = "This is GeekCoders"


def rev1(str1):
    l= str1.split()
    out = []
    for i in range(len(l)-1,-1,-1):
        out.append(l[i])
    return " ".join(out)
print(rev1(str1))

GeekCoders is This

In [115]:
str1 = "This is GeekCoders"
def rev3(str1):
    l= str1.split()
    out = []
    while len(l)>0:
        ele = l.pop()
        out.append(ele)
    return out

print(rev3(str1))

['GeekCoders', 'is', 'This']

In [6]:
l=[1,2,3,4,5,6,7,8,9]
even =[]
odd = []
for ele in l:
    if (ele%2==0):
        even.append(ele)
    else:
        odd.append(ele)
res = even + odd
print(res)

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [7]:
def even_odd(num):
    if num%2==0:
        return False
    else:
        return True 
    
sorted(l, key=even_odd)

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [8]:
import sys
sys.stdout.write("hello world")

hello world

11

In [11]:
str1="my23name45is"
str2='si23eman45ym'
out = ""
for i in range(len(str1)-1,-1,-1):
    if str1[i].isalpha():
        out = out + str1[i]
    else: 
        continue
print(out)

siemanym

In [14]:
l=[[2,1] for j in range(2)]
print(l)
var=0
for i in range(2):
    var += l[i][i]
print(var)

[[2, 1], [2, 1]]
3

In [15]:
list1=[]
if list1:
    print(True)
else:
    print(False)

False

In [16]:
str1="hellohowareyou"

res = list(map(lambda x,y: y+x, str1))
print(res)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [17]:
str1 = "hellohowareyou"
str2 = "abcdefghijklmno"  # Another string of the same length

# Ensure both strings are of the same length
assert len(str1) == len(str2)

res = list(map(lambda x, y: y + x, str1, str2))
print(res)

AssertionError:

In [21]:
str1 = "hello"
str2 = "abcde"  # Another string of the same length

# Ensure both strings are of the same length
assert len(str1) == len(str2)

res = list(map(lambda x, y: y + x, str1, str2))
print(res)

['ah', 'be', 'cl', 'dl', 'eo']

In [26]:
from functools import reduce
str1 = "hellohowareyou"
str2 = "abcdefghijklmno"  # Make str2 the same length as str1



res = list(reduce(lambda x, y: y + x, str1))
print("".join(res))

uoyerawoholleh

In [9]:
str1 = "geekcoders geekcoders hello"
uniq=[]
dup =[]
for word in str1.split():
    if word not in uniq:
        uniq.append(word)
        res = "".join(uniq)
        print("uniq is ", res)
    else:
        dup.append(word)
        print("dup is ",dup)

uniq is  geekcoders
dup is  ['geekcoders']
uniq is  geekcodershello

In [5]:
d={}
for word in str1.split():
    if word in d:
        d[word] += 1
    else:
        d[word] = 1
print(d)

{'geekcoders': 2, 'hello': 1}

In [8]:
for k,v in d.items():
    if v==1:
        print(k)

hello

In [11]:
# Original list
original_list = [1, 2, 2, 3, 4, 4, 5]
d = dict.fromkeys(original_list)
# Using dict.fromkeys
unique_list = list(dict.fromkeys(original_list))

print(unique_list)
print(d)

[1, 2, 3, 4, 5]
{1: None, 2: None, 3: None, 4: None, 5: None}

In [19]:
l=[1,2,3,4,5,6,7,8,9]
max = 0
for i in range(len(l)-1):
    for j in range(i+1, len(l)):
        if l[i]*l[j]>max:
            max = l[i]*l[j]
print(l[i], l[j])

8 9

In [22]:
from functools import reduce
l=[1,2,3,4,5,6,7,8,9]
reduce(lambda x, y: x*y, l)

362880

In [24]:
def max_product(l):
    l.sort()
    return l[-1]*l[-2]
l=[1,2,3,4,5,6,7,8,9]
res = max_product(l)
print(res)

72

In [29]:
res = [i*j for i, j in zip(l,l)]
res

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
s1='NAINA'
s2='REENE'
res=[]
for ele in s1:
    if ele in s2:
        res.append(ele)
print(res)

['N', 'N']

In [4]:
s1 = 'NAINA'
s2 = 'REENE'

res = [ele for ele in s1 if ele in s2]
print(res)

['N', 'N']

In [8]:
s1 = 'NAINA'
s2 = 'REENE'

set1 = set(s1)
set2 = set (s2)
res = set1 & set2
print(res)

frequency[char] = frequency.get(char, 0) + 1

{'N'}

In [9]:
sent= 'Sheena loves eating apple and mango. Her sister also loves eating apple and mango.'

d={}
for ch in sent.split():
    d[ch] = d.get(ch,0)+1
print(d)

{'Sheena': 1, 'loves': 2, 'eating': 2, 'apple': 2, 'and': 2, 'mango.': 2, 'Her': 1, 'sister': 1, 'also': 1}

In [10]:
def count(sent):
    words = sent.split()
    d={}
    for word in words:
        if word not in d.keys():
            d[word] = 0
            
        d[word] = d[word] + 1
    return d

print(count(sent))

{'Sheena': 1, 'loves': 2, 'eating': 2, 'apple': 2, 'and': 2, 'mango.': 2, 'Her': 1, 'sister': 1, 'also': 1}

In [11]:
def count_freq(sent):
    words = sent.split()
    d={}
    for word in words:
        if word in d:
            d[word] += 1
        else:
            d[word] = 1
    return d
print(count_freq(sent))

{'Sheena': 1, 'loves': 2, 'eating': 2, 'apple': 2, 'and': 2, 'mango.': 2, 'Her': 1, 'sister': 1, 'also': 1}

In [16]:
l1=[1,2,3]
l2=['one', 'two', 'three']

res = {k:v for k,v in zip(l1,l2)}
print(res)

{1: 'one', 2: 'two', 3: 'three'}

In [17]:
res1 = dict(zip(l1,l2))
print(res1)

{1: 'one', 2: 'two', 3: 'three'}

In [21]:
l=[5,7,4,3,9,8,19,21]
sum = 17

res = [i+j for i in range(len(l)) for j in range(i+1, len(l)) if i+j = 17]
print(res)

SyntaxError: invalid syntax (1070404162.py, line 4)

In [22]:
l = [5, 7, 4, 3, 9, 8, 19, 21]
target_sum = 17

res = [(l[i], l[j]) for i in range(len(l)) for j in range(i + 1, len(l)) if l[i] + l[j] == target_sum]
print(res)

[(9, 8)]

In [26]:
l = [5, 7, 4, 3, 9, 8, 19, 21]
target = 17
res =[]
for i in range(len(l)):
    for j in range(i+1, len(l)):
        if l[i]+l[j]==target:
            res.append(l[i])
            res.append(l[j])
print(res)

[9, 8]

In [31]:


def two_sum(arr,target):
    arr.sort()
    left=0
    right=len(arr)-1
    while(left<right):
        if (arr[left] + arr[right]>target):
            right = right -1
        elif (arr[left] + arr[right]<target):
            left = left + 1
        elif (arr[left] + arr[right]==target):
            print('values of pair', arr[left], "&", arr[right])
            right = right-1
            left = left+1
            


arr=[5, 7, 4, 3, 9, 8, 19, 21]
target=17
print(two_sum(arr,target))

values of pair 8 & 9
None

In [33]:
def remove_dup(arr):
    n = len(arr)
    if (n==0 or n==1):
        return arr
    temp=[0]*n
    pivot = 0
    for i in range(0, n-1):
        if (arr[i]!=arr[i+1]):
            temp[pivot]=arr[i]
            pivot = pivot + 1
            
    temp[pivot] = arr[n-1]
    return temp[0:pivot+1]

arr=[1,1,1,1,2,3,4,5,5,6,7,7,7]
print(remove_dup(arr))

[1, 2, 3, 4, 5, 6, 7]

In [43]:
l=['cat', 'tac', 'dog', 'act', 'god']

def anagram(l):
    if(l==None):
        return
    else:
        dict={}
        for i in range(len(l)):
            word = ''.join(sorted(l[i]))
            if(word not in dict):
                dict[word] = [i+1]
            else:
                dict[word].append(i+1)
        return dict

print(anagram(l))

{'act': [1, 2, 4], 'dgo': [3, 5]}

In [38]:
l=['cat', 'tac', 'dog', 'act', 'god']
for i in range(len(l)):
    word = ''.join(sorted(l[i]))

word

'dgo'

In [40]:
sorted("act")

['a', 'c', 't']

In [46]:
arr1=[1,4,2,5,2,3,4,1,4,5,2,3]

arr2= list(set(arr1))
print(arr2)

[1, 2, 3, 4, 5]

In [47]:
arr3=[]
for ele in arr1:
    if ele not in arr3:
        arr3.append(ele)

print(arr3)

[1, 4, 2, 5, 3]

In [49]:
rem = lambda arr: set(arr)
print(rem(arr))

{1, 2, 3, 4, 5}

In [50]:
dict1={
    'car': ["ford", "toyota", "ford", "honda", "toyota"],
    'brand': ["mustang", "ranz","mustang", "ranz"]
}


dict2={}
for k,v in dict1.items():
    dict2[k] = set(v)
print(dict2)

{'car': {'toyota', 'honda', 'ford'}, 'brand': {'ranz', 'mustang'}}

In [51]:

set1={1,2,3,4,5}
set2={2,1,5,7}

remove_dup= set1.symmetric_difference(set2)
print(remove_dup)

{3, 4, 7}

In [52]:
#largetst element in array

arr = [63,54,98,34,89,42,18]
def max1(arr):
    max = arr[0]
    for i in range(len(arr)):
        if arr[i]>max:
            max = arr[i]
    return max

print(max1(arr))

98

In [54]:
#left rotations in string

def left_rotate(str1):
    size = len(str1)
    temp = str1 + str1
    
    for i in range(size):
        for j in range(size):
            print(temp[i+j], end="")
        print()

str1 = "NETSET"      
print(left_rotate(str1))

NETSET
ETSETN
TSETNE
SETNET
ETNETS
TNETSE
None

In [58]:
def reverse(str1):
    return str1[::-1]


str1="NETSETOS IS EXCELLENT"

def rev(str1):
    size = len(str1)
    if (size == 1):
        return str1
    str2= str1.split(" ")
    rev_all =""
    size2=len(str2)
    for i in range(size2):
        rev = reverse(str2[i])
        rev_all = rev_all + rev + " "
    return rev_all

print(rev(str1))

SOTESTEN SI TNELLECXE

In [59]:
str1 = "NETSETOSNET"
d={}
for ch in str1:
    d[ch] = d.get(ch, 0)+1
d

{'N': 2, 'E': 3, 'T': 3, 'S': 2, 'O': 1}

In [63]:
d1={}
for ch in str1:
    if ch not in d1:
        d1[ch] = 1
    else:
        d1[ch]= d1[ch] + 1
print(d1)

{'N': 2, 'E': 3, 'T': 3, 'S': 2, 'O': 1}

In [64]:
dict ={}
size = len(str1)
for i in range(size):
    key = str1[i]
    if key not in dict:
        dict[key]=1
    else:
        dict[key] = dict[key]+ 1
print(dict)

counter= 0
for i in range(len(str1)):
    if (dict[str1[i]]==1):
        print(str1[i], counter)
    counter = counter + 1

{'N': 2, 'E': 3, 'T': 3, 'S': 2, 'O': 1}
O 6

In [65]:
ord(a)

NameError: name 'a' is not defined

In [66]:
ord('a')

97

In [67]:
ord('A')

65

In [68]:
ord('7')

55

In [ ]:
#ROMAN t